<div id="alert-detail" ng-class="['dialog', 'dialog--open']">
		
		<div class="dialog__overlay"></div> 
		 
		  
		<div class="dialog__content">
			<header>
				<h1>{{evento.region}}</h1>
				<h2>MAGNITUDE:  {{evento.magnitude}}</h2>
			</header>

			<div class="mobileWrapperContentModal">
				<section class="wrapperDetail"> 
					
				</section>

				<section class="headerAffected">
					{{evento.timedate}}

				</section>
				
				<section class="wrapperAffected">
					
				</section>
			</div>

			<a href="#" class="action close" ng-click="close()" data-dialog-close>u</a>
		</div>
</div>